/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
/build/
/vendor/
/.idea/
/vagrant/.vagrant/
.sass-cache/
node_modules/
web/css/generated
web/js/generated