<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Galt Control{% endblock %}</title>
        {% block javascripts %}
            <script src="{{ asset('js/require.js') }}"></script>
            <script>
                requirejs.config({
                    baseUrl: '/js',
                    paths:{
                        jquery: 'jquery.min',
                        foundation: 'foundation.min'
                    },
                    shim: {
                        foundation: ['jquery']
                    }
                });
                require(['app/homepage']);
            </script>
        {% endblock %}
        {% block stylesheets %}
            <link href="{{ asset('css/foundation.css') }}" rel="stylesheet">
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
