<nav role="navigation" data-topbar="" class="top-bar">
    <ul class="title-area">
        <li class="name">
            <h1><a href="#">Estudio Galt</a></h1>
        </li>
        <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
    </ul>


    <section class="top-bar-section">

        <!-- Right Nav Section -->
        <ul class="right show-for-large-up">
            <li><a href="clients-news.php"><i class="fa fa-newspaper-o fa-fw"></i>&nbsp;Novedades</a></li>
            <li class="has-dropdown not-click">
                <a href="#"><i class="fa fa-user fa-fw"></i>&nbsp;Mi Cuenta</a>
                <ul class="dropdown">
                    <li><a href="#">Mi Perfil</a></li>
                    <li><a href="#">Salir</a></li>
                </ul>
            </li>
        </ul>

        <ul class="right hide-for-large-up">
            <li><a href="#">Novedades</a></li>
            <li class="has-dropdown not-click">
                <a href="#">Mi Cuenta</a>
                <ul class="dropdown">
                    <li><a href="#">Mi Perfil</a></li>
                    <li><a href="#">Salir</a></li>
                </ul>
            </li>
        </ul>

        <!-- Left Nav Section -->
        <ul class="left show-for-large-up">
            <li  class="active"><a href="#">Resumen</a></li>
            <li><a href="#">Soporte</a></li>
            <li><a href="#">Vencimientos <span href="#" class="label small alert radius">2</span></a></li>
        </ul>
    </section></nav>

<div class="row">
    <div class="large-12 columns">
        <h1>Panel de Control</h1>
    </div>
</div>